body {
  font-family: "Poppins";
  background-color: #0f0b00;
  color: #fffefa;
  transition: all 0.5s;
}

.dark-mode {
  background-color: #0f0b00;
  color: #fffefa !important;
}

.light-mode {
  background-color: #fffefa;
  color: #0d0a02;
  transition: all 0.5s;
}

a:hover {
  color: #f3b000;
}

.my-bg-yellow {
  background-color: #f3b000;
}

.my-txt-yellow {
  color: #f3b000;
}

.jumbotron-text {
  font-weight: 300;
  font-size: 56px;
  line-height: 72px;
}

.my-container {
  padding-top: 140px;
}

.icon {
  color: #fffefa;
  font-size: 24px;
}

.icon-light {
  color: #0d0a02;
}

.my-square {
  width: 100%;
  height: 100%;
  min-height: 580px;
  object-fit: cover;
}

.my-contact-container {
  padding-top: 104px;
  padding-bottom: 120px;
}

.my-contact {
  font-weight: 300;
  font-size: 56px;
  line-height: 72px;
  max-width: 862px;
  margin-left: 32px;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.my-contact:hover {
  -webkit-transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  -o-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

.copy-right {
  font-weight: 500;
  margin-bottom: 0;
}

.contact-button {
  transition: transform 0.2s;
}

.contact-button:hover {
  transform: scale(1.05);
}

.footer-email {
  font-weight: 500;
  color: #fffefa;
}

.footer-email-light {
  font-weight: 500;
  color: #0f0b00;
}

.footer-email:hover {
  color: #f3b000;
}

.chat-icon {
  width: 150px;
  height: 150px;
}

.section-1 {
  margin-top: 64px;
}

.divider {
  margin: 0;
  background-color: #fffefa;
  opacity: 1;
}

.divider-light {
  margin: 0;
  background-color: #0d0a02;
  opacity: 1;
}

.footer-follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-container {
  padding-top: 64px;
  padding-bottom: 64px;
}

/**Switch CSS Start*/

.switch {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 32px;
}

.switch .checkbox-switch {
  opacity: 0;
  width: 0;
  height: 0;
}

.left-switch {
  position: absolute;
  z-index: 10;
  top: 4px;
  left: 15px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #f3b000;
}

.right-switch {
  position: absolute;
  z-index: 10;
  top: 4px;
  right: 15px;
  color: #ebebeb;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #3e3d39;
  border-radius: 100px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 62px;
  top: 2px;
  left: 2px;
  bottom: 2px;
  background-color: #241a00;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.16);
  border-radius: 100px;
}

.checkbox-switch:checked + .slider {
  background-color: #f7f7f7;
}

.checkbox-switch:checked + .slider:before {
  -webkit-transform: translateX(64px);
  -ms-transform: translateX(64px);
  transform: translateX(64px);
  background-color: #fff8e5;
  box-shadow: 0px 2px 8px rgba(36, 26, 0, 0.16);
}

/**Switch CSS End*/

@media screen and (max-width: 768px) {
  .my-contact {
    font-size: 24px;
    line-height: 32px;
  }

  .chat-icon {
    width: 70px;
    height: 70px;
  }

  .my-contact-container {
    padding-top: 56px;
    padding-bottom: 46px;
  }

  #arrow {
    width: 21px;
    height: 13.5px;
  }

  #avatar {
    width: 32px;
    height: 32px;
  }

  .my-container {
    padding-top: 74px;
  }

  .jumbotron-text {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 0;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .icon {
    font-size: 16px;
  }

  .section-1 {
    margin-top: 32px;
  }

  .my-square {
    width: 100%;
    height: 100%;
    min-height: initial;
  }

  .label-follow {
    width: 100%;
    margin-bottom: 16px;
  }

  .footer-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
